In [1]:
import pandas as pd

In [3]:
df_all = pd.read_spss('HN08_ALL.sav')
df_all.rename(columns={'id' : 'ID'}, inplace = True)
df_all

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,HW_ES_S1,HW_ES_E1,HW_ES_D1,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,24.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,888,888,888.0,888,888,888.0,888.0,1.0,3.0,23.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,,,NaN,,,NaN,NaN,8.0,NaN,NaN
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,23.0
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN

In [4]:
df_all['DW']

KeyError: 'DW'

In [4]:
df_24RC = pd.read_spss('hn08_24RC.sav')
df_24RC

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
418624,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
418625,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
418626,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
418627,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [5]:
df_dxa = pd.read_spss('hn08_dxa.sav')
df_dxa

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,2019.03.06.,A448740903,2008.0,1.0,1.0,1.0,A448,2.0,70.0,2.0,...,9687.218251,37.203307,23471.432798,34897.283429,58368.716227,40.212351,24379.078925,38627.065516,63006.144441,38.693177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,2019.03.06.,O452899801,2008.0,15.0,2.0,1.0,O452,1.0,51.0,3.0,...,9194.307608,8.301521,6279.544815,44613.721657,50893.266472,12.338655,7167.986235,48612.456159,55780.442393,12.850357
3579,2019.03.06.,O452899802,2008.0,15.0,2.0,1.0,O452,2.0,48.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3580,2019.03.06.,O452900902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3581,2019.03.06.,O452980901,2008.0,15.0,2.0,1.0,O452,1.0,71.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,2019.03.06.,O452980902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_ent = pd.read_spss('hn08_ent.sav')
df_ent

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,T_dz_ex42,T_dz_ex42_t,T_dz_ex1,T_dz_ex1_t,T_dz_ex2,T_dz_ex2_t,T_dz_ex3,T_dz_ex3_t,T_dz_ex4,T_dz_ex4_t
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0
4,2019.03.06.,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0,8.0,888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4947,2019.03.06.,O452899801,2008.0,15.0,2.0,1.0,O452,1.0,51.0,3.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4948,2019.03.06.,O452899802,2008.0,15.0,2.0,1.0,O452,2.0,48.0,3.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4949,2019.03.06.,O452900902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,4.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4950,2019.03.06.,O452980901,2008.0,15.0,2.0,1.0,O452,1.0,71.0,1.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0
4951,2019.03.06.,O452980902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,1.0,...,8.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0,1.0,888.0

In [7]:
df_eye = pd.read_spss('hn08_eye.sav')
df_eye

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4,2019.03.06.,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4841,2019.03.06.,O452899801,2008.0,15.0,2.0,1.0,O452,1.0,51.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4842,2019.03.06.,O452899802,2008.0,15.0,2.0,1.0,O452,2.0,48.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4843,2019.03.06.,O452900902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4844,2019.03.06.,O452980901,2008.0,15.0,2.0,1.0,O452,1.0,71.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
4845,2019.03.06.,O452980902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0

In [8]:
df_ijmt = pd.read_spss('hn08_ijmt.sav')
df_ijmt

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_1_12,MP6_2_12,MP6_3_12,MP6_4_12,MP6_5_12,MP6_6_12,MP6_8_12,MP6_9_12,MP7_1_12,MP8_4_12
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
4,2019.03.06.,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9276,2019.03.06.,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9277,2019.03.06.,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9278,2019.03.06.,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9279,2019.03.06.,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
9280,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0

In [9]:
df_OE = pd.read_spss('hn08_OE.sav')
df_OE

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019.03.06.,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9302,2019.03.06.,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9303,2019.03.06.,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9304,2019.03.06.,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9305,2019.03.06.,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9306,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [13]:
# Merge the df_all and df_dxa on the 'id' key
merged_df1 = pd.merge(df_all, df_dxa, on = 'ID')
merged_df1

,mod_d_x,ID,year_x,region_x,town_t_x,apt_t_x,psu_x,sex_x,age_x,incm_x,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,2022.03.08,A448740903,2008.0,1.0,1.0,1.0,A448,2.0,70.0,2.0,...,9687.218251,37.203307,23471.432798,34897.283429,58368.716227,40.212351,24379.078925,38627.065516,63006.144441,38.693177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,2022.03.08,O452899801,2008.0,15.0,2.0,1.0,O452,1.0,51.0,3.0,...,9194.307608,8.301521,6279.544815,44613.721657,50893.266472,12.338655,7167.986235,48612.456159,55780.442393,12.850357
3579,2022.03.08,O452899802,2008.0,15.0,2.0,1.0,O452,2.0,48.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3580,2022.03.08,O452900902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3581,2022.03.08,O452980901,2008.0,15.0,2.0,1.0,O452,1.0,71.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,2022.03.08,O452980902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
# Check Original DataFrame
df_all

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,HW_ES_S1,HW_ES_E1,HW_ES_D1,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,24.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,888,888,888.0,888,888,888.0,888.0,1.0,3.0,23.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,,,NaN,,,NaN,NaN,8.0,NaN,NaN
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,23.0
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN

In [16]:
df_dxa

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,2019.03.06.,A448740903,2008.0,1.0,1.0,1.0,A448,2.0,70.0,2.0,...,9687.218251,37.203307,23471.432798,34897.283429,58368.716227,40.212351,24379.078925,38627.065516,63006.144441,38.693177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,2019.03.06.,O452899801,2008.0,15.0,2.0,1.0,O452,1.0,51.0,3.0,...,9194.307608,8.301521,6279.544815,44613.721657,50893.266472,12.338655,7167.986235,48612.456159,55780.442393,12.850357
3579,2019.03.06.,O452899802,2008.0,15.0,2.0,1.0,O452,2.0,48.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3580,2019.03.06.,O452900902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3581,2019.03.06.,O452980901,2008.0,15.0,2.0,1.0,O452,1.0,71.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,2019.03.06.,O452980902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
merged_df1.to_csv('Merged_df1.csv', index=False)

In [18]:
columns_all = set(df_all.columns)
columns_dxa = set(df_dxa.columns)


overlapping_columns = columns_all.intersection(columns_dxa)
overlapping_columns

{'ID',
 'age',
 'apt_t',
 'edu',
 'ho_incm',
 'ho_incm5',
 'incm',
 'incm5',
 'kstrata',
 'kstrata1',
 'mod_d',
 'occp',
 'psu',
 'region',
 'sex',
 'town_t',
 'wt_ex',
 'wt_ex1',
 'wt_ex1hm',
 'wt_ex1hmnt',
 'wt_ex1nt',
 'wt_ex1pf',
 'wt_ex1pfnt',
 'wt_hm',
 'wt_hmnt',
 'wt_hs',
 'wt_itv',
 'wt_itvex',
 'wt_ntr',
 'wt_pfhm',
 'wt_pfhmnt',
 'wt_pfnt',
 'wt_pft',
 'wt_tot',
 'wt_tot1',
 'wt_tot1nt',
 'year'}

In [25]:
overlapped_df = df_all[overlapping_columns]

<ipython-input-25-db5026f960c1>:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  overlapped_df = df_all[overlapping_columns]

In [24]:
overlapped_df['wt_ex1hmnt'].isnull()

<ipython-input-24-612d8b9875fe>:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  df_all[overlapping_columns].isnull()

,wt_ex1hmnt,wt_tot1nt,town_t,ID,wt_ex,wt_itvex,wt_tot1,wt_ex1,incm,kstrata1,...,year,wt_ntr,sex,wt_itv,wt_hm,wt_tot,wt_ex1pf,mod_d,age,kstrata
0,True,True,False,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,True,True,False,False,False,False,True,False,False,False,...,False,False,False,False,True,False,True,False,False,False
2,True,True,False,False,False,False,True,False,False,False,...,False,True,False,False,False,True,True,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,True,False,False,False,False,True,False,False,False,...,False,False,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,True,True,False,False,False,False,True,True,False,True,...,False,False,False,False,True,False,True,False,False,False
9740,True,True,False,False,False,False,True,True,False,True,...,False,False,False,False,False,False,True,False,False,False
9741,True,True,False,False,False,False,True,True,False,True,...,False,False,False,False,True,False,True,False,False,False
9742,True,True,False,False,False,False,True,True,False,True,...,False,False,False,False,True,False,True,False,False,False
9743,True,True,False,False,False,False,True,True,False,True,...,False,False,False,False,True,False,True,False,False,False

In [33]:
df_all_for_merge_dxa = df_all.drop(overlapping_columns, axis=1)
df_all_for_merge_dxa

,cfam,genertn,allownc,house,house_prc,house_yy,house_mm,house_long,house_p_yy,house_p_mm,...,HW_ES_S1,HW_ES_E1,HW_ES_D1,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,88.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
1,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,88.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,24.0
2,4.0,4.0,20.0,2.0,100000.0,8.0,7.0,2.0,4.0,0.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
3,4.0,4.0,20.0,2.0,9999999.0,5.0,2.0,2.0,5.0,0.0,...,888,888,888.0,888,888,888.0,888.0,1.0,3.0,23.0
4,4.0,4.0,20.0,2.0,9999999.0,5.0,2.0,2.0,5.0,0.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,5.0,4.0,20.0,2.0,6000.0,9.0,0.0,2.0,24.0,0.0,...,,,NaN,,,NaN,NaN,8.0,NaN,NaN
9740,4.0,6.0,20.0,2.0,8000.0,10.0,9.0,1.0,88.0,88.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9741,4.0,6.0,20.0,2.0,8000.0,10.0,9.0,1.0,88.0,88.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,23.0
9742,4.0,6.0,20.0,2.0,8000.0,10.0,9.0,1.0,88.0,88.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9743,4.0,6.0,20.0,2.0,8000.0,10.0,9.0,1.0,88.0,88.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN

In [34]:
df_all_for_merge_dxa['ID'] = df_all['ID']
df_all_for_merge_dxa

,cfam,genertn,allownc,house,house_prc,house_yy,house_mm,house_long,house_p_yy,house_p_mm,...,HW_ES_E1,HW_ES_D1,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG,ID
0,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,88.0,...,,NaN,,,NaN,NaN,NaN,NaN,NaN,A448440901
1,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,88.0,...,888,888.0,888,888,888.0,888.0,1.0,6.0,24.0,A448440902
2,4.0,4.0,20.0,2.0,100000.0,8.0,7.0,2.0,4.0,0.0,...,,NaN,,,NaN,NaN,NaN,NaN,NaN,A448680102
3,4.0,4.0,20.0,2.0,9999999.0,5.0,2.0,2.0,5.0,0.0,...,888,888.0,888,888,888.0,888.0,1.0,3.0,23.0,A448680501
4,4.0,4.0,20.0,2.0,9999999.0,5.0,2.0,2.0,5.0,0.0,...,,NaN,,,NaN,NaN,NaN,NaN,NaN,A448680502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,5.0,4.0,20.0,2.0,6000.0,9.0,0.0,2.0,24.0,0.0,...,,NaN,,,NaN,NaN,8.0,NaN,NaN,P451960905
9740,4.0,6.0,20.0,2.0,8000.0,10.0,9.0,1.0,88.0,88.0,...,,NaN,,,NaN,NaN,NaN,NaN,NaN,P451980901
9741,4.0,6.0,20.0,2.0,8000.0,10.0,9.0,1.0,88.0,88.0,...,888,888.0,888,888,888.0,888.0,1.0,6.0,23.0,P451980902
9742,4.0,6.0,20.0,2.0,8000.0,10.0,9.0,1.0,88.0,88.0,...,,NaN,,,NaN,NaN,NaN,NaN,NaN,P451980905
9743,4.0,6.0,20.0,2.0,8000.0,10.0,9.0,1.0,88.0,88.0,...,,NaN,,,NaN,NaN,NaN,NaN,NaN,P451980906

In [31]:
df_all

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,HW_ES_S1,HW_ES_E1,HW_ES_D1,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,24.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,888,888,888.0,888,888,888.0,888.0,1.0,3.0,23.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,,,NaN,,,NaN,NaN,8.0,NaN,NaN
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,23.0
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN

In [35]:
# Merge the df_all and df_dxa on the 'id' key
merged_df2 = pd.merge(df_all_for_merge_dxa, df_dxa, on = 'ID')
merged_df2

,cfam,genertn,allownc,house,house_prc,house_yy,house_mm,house_long,house_p_yy,house_p_mm,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,88.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,88.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,4.0,4.0,20.0,2.0,100000.0,8.0,7.0,2.0,4.0,0.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,4.0,4.0,20.0,2.0,9999999.0,5.0,2.0,2.0,5.0,0.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,3.0,7.0,20.0,1.0,8888888.0,3.0,2.0,2.0,2.0,0.0,...,9687.218251,37.203307,23471.432798,34897.283429,58368.716227,40.212351,24379.078925,38627.065516,63006.144441,38.693177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,2.0,2.0,20.0,2.0,2000.0,20.0,0.0,1.0,88.0,88.0,...,9194.307608,8.301521,6279.544815,44613.721657,50893.266472,12.338655,7167.986235,48612.456159,55780.442393,12.850357
3579,2.0,2.0,20.0,2.0,2000.0,20.0,0.0,1.0,88.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3580,2.0,2.0,20.0,2.0,9999999.0,25.0,5.0,1.0,88.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3581,2.0,2.0,20.0,2.0,9999999.0,40.0,9.0,1.0,88.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,2.0,2.0,20.0,2.0,9999999.0,40.0,9.0,1.0,88.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
merged_df2['ID']

0       A448440901
1       A448440902
2       A448680102
3       A448680501
4       A448740903
           ...
3578    O452899801
3579    O452899802
3580    O452900902
3581    O452980901
3582    O452980902
Name: ID, Length: 3583, dtype: object

In [37]:
column_order = ['ID'] + [col for col in merged_df2.columns if col != 'ID']
merged_df2 = merged_df2[column_order]
merged_df2

,ID,cfam,genertn,allownc,house,house_prc,house_yy,house_mm,house_long,house_p_yy,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,A448440901,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,A448440902,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,A448680102,4.0,4.0,20.0,2.0,100000.0,8.0,7.0,2.0,4.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,A448680501,4.0,4.0,20.0,2.0,9999999.0,5.0,2.0,2.0,5.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,A448740903,3.0,7.0,20.0,1.0,8888888.0,3.0,2.0,2.0,2.0,...,9687.218251,37.203307,23471.432798,34897.283429,58368.716227,40.212351,24379.078925,38627.065516,63006.144441,38.693177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,O452899801,2.0,2.0,20.0,2.0,2000.0,20.0,0.0,1.0,88.0,...,9194.307608,8.301521,6279.544815,44613.721657,50893.266472,12.338655,7167.986235,48612.456159,55780.442393,12.850357
3579,O452899802,2.0,2.0,20.0,2.0,2000.0,20.0,0.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3580,O452900902,2.0,2.0,20.0,2.0,9999999.0,25.0,5.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3581,O452980901,2.0,2.0,20.0,2.0,9999999.0,40.0,9.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,O452980902,2.0,2.0,20.0,2.0,9999999.0,40.0,9.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
# df_all + df_dxa
merged_df2

,ID,cfam,genertn,allownc,house,house_prc,house_yy,house_mm,house_long,house_p_yy,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,A448440901,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,A448440902,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,A448680102,4.0,4.0,20.0,2.0,100000.0,8.0,7.0,2.0,4.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,A448680501,4.0,4.0,20.0,2.0,9999999.0,5.0,2.0,2.0,5.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,A448740903,3.0,7.0,20.0,1.0,8888888.0,3.0,2.0,2.0,2.0,...,9687.218251,37.203307,23471.432798,34897.283429,58368.716227,40.212351,24379.078925,38627.065516,63006.144441,38.693177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,O452899801,2.0,2.0,20.0,2.0,2000.0,20.0,0.0,1.0,88.0,...,9194.307608,8.301521,6279.544815,44613.721657,50893.266472,12.338655,7167.986235,48612.456159,55780.442393,12.850357
3579,O452899802,2.0,2.0,20.0,2.0,2000.0,20.0,0.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3580,O452900902,2.0,2.0,20.0,2.0,9999999.0,25.0,5.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3581,O452980901,2.0,2.0,20.0,2.0,9999999.0,40.0,9.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,O452980902,2.0,2.0,20.0,2.0,9999999.0,40.0,9.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
df_all

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,HW_ES_S1,HW_ES_E1,HW_ES_D1,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,2022.03.08,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
1,2022.03.08,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,24.0
2,2022.03.08,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
3,2022.03.08,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,888,888,888.0,888,888,888.0,888.0,1.0,3.0,23.0
4,2022.03.08,A448680502,2008.0,1.0,1.0,1.0,A448,1.0,12.0,3.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9739,2022.03.08,P451960905,2008.0,16.0,1.0,1.0,P451,2.0,2.0,4.0,...,,,NaN,,,NaN,NaN,8.0,NaN,NaN
9740,2022.03.08,P451980901,2008.0,16.0,1.0,1.0,P451,1.0,67.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9741,2022.03.08,P451980902,2008.0,16.0,1.0,1.0,P451,2.0,62.0,1.0,...,888,888,888.0,888,888,888.0,888.0,1.0,6.0,23.0
9742,2022.03.08,P451980905,2008.0,16.0,1.0,1.0,P451,1.0,8.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
9743,2022.03.08,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN

In [40]:
df_dxa

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,2019.03.06.,A448440902,2008.0,1.0,1.0,1.0,A448,2.0,68.0,2.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,2019.03.06.,A448680102,2008.0,1.0,1.0,1.0,A448,2.0,48.0,4.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,2019.03.06.,A448680501,2008.0,1.0,1.0,1.0,A448,2.0,35.0,3.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,2019.03.06.,A448740903,2008.0,1.0,1.0,1.0,A448,2.0,70.0,2.0,...,9687.218251,37.203307,23471.432798,34897.283429,58368.716227,40.212351,24379.078925,38627.065516,63006.144441,38.693177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,2019.03.06.,O452899801,2008.0,15.0,2.0,1.0,O452,1.0,51.0,3.0,...,9194.307608,8.301521,6279.544815,44613.721657,50893.266472,12.338655,7167.986235,48612.456159,55780.442393,12.850357
3579,2019.03.06.,O452899802,2008.0,15.0,2.0,1.0,O452,2.0,48.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3580,2019.03.06.,O452900902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3581,2019.03.06.,O452980901,2008.0,15.0,2.0,1.0,O452,1.0,71.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,2019.03.06.,O452980902,2008.0,15.0,2.0,1.0,O452,2.0,67.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Merged df3 : dxa + all + 24RC

In [44]:
columns_merged_df2 = set(merged_df2.columns)
columns_24RC = set(df_24RC.columns)


overlapping_columns = columns_merged_df2.intersection(columns_24RC)
overlapping_columns

{'ID',
 'N_DAY',
 'N_DIET',
 'N_DIET_WHY',
 'N_DT_DS',
 'N_DUSUAL',
 'N_WAT_C',
 'age',
 'apt_t',
 'edu',
 'ho_incm',
 'ho_incm5',
 'incm',
 'incm5',
 'kstrata',
 'kstrata0',
 'kstrata1',
 'mod_d',
 'occp',
 'psu',
 'region',
 'sex',
 'town_t',
 'wt_ex',
 'wt_ex1',
 'wt_ex1hm',
 'wt_ex1hmnt',
 'wt_ex1nt',
 'wt_ex1pf',
 'wt_ex1pfnt',
 'wt_hm',
 'wt_hmnt',
 'wt_hs',
 'wt_itv',
 'wt_itvex',
 'wt_ntr',
 'wt_pfhm',
 'wt_pfhmnt',
 'wt_pfnt',
 'wt_pft',
 'wt_tot',
 'wt_tot1',
 'wt_tot1nt',
 'year'}

In [48]:
df24RC_for_merge_df2 = df_24RC.drop(overlapping_columns, axis=1)
df24RC_for_merge_df2

,N_MEAL,N_MEAL_T,N_MEAL_P,N_MTYPE,N_DNAME,N_DCODE,N_CD_VOL,N_CD_WT,N_TD_VOL,N_TD_WT,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,0.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
418624,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,0.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
418625,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,0.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
418626,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,0.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
418627,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,0.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [50]:
df_24RC

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.133333,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000
1,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.035789,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000
2,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.050368,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000
3,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.478947,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000
4,2019.03.06.,A448440901,2008.0,1.0,1.0,1.0,A448,1.0,70.0,2.0,...,0.596491,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.076923,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000
418624,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.011385,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077
418625,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.016010,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205
418626,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.007308,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692
418627,2019.03.06.,P451980906,2008.0,16.0,1.0,1.0,P451,1.0,4.0,1.0,...,0.006062,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308

In [55]:
df24RC_for_merge_df2['ID'] = df_24RC['ID']
df24RC_for_merge_df2

,N_MEAL,N_MEAL_T,N_MEAL_P,N_MTYPE,N_DNAME,N_DCODE,N_CD_VOL,N_CD_WT,N_TD_VOL,N_TD_WT,...,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC,ID
0,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,0.210526,16.631579,0.000000,0.000000,0.000000,0.014035,0.004211,0.259649,0.000000,A448440901
1,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,0.105263,8.273684,0.000000,0.000000,0.000000,0.010316,0.002737,0.056842,0.000000,A448440901
2,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,0.068684,4.372895,0.000000,0.000000,0.000000,0.003205,0.001832,0.036632,0.000000,A448440901
3,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,0.307018,94.500000,0.000000,0.000000,0.000000,0.020877,0.013509,0.116667,0.000000,A448440901
4,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,98.421053,243.070175,0.000000,0.000000,0.000000,0.164035,0.059649,2.236842,0.000000,A448440901
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418623,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,0.0,...,27.846154,40.000000,0.307692,0.000000,0.307692,0.007692,0.012308,0.384615,0.000000,P451980906
418624,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,0.0,...,0.011385,2.117538,1.468615,8.823077,0.000000,0.000683,0.001025,0.006831,0.239077,P451980906
418625,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,0.0,...,0.080051,5.763692,0.000000,0.000000,0.000000,0.001601,0.000400,0.004003,0.320205,P451980906
418626,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,0.0,...,0.011538,2.553846,0.000000,0.000000,0.000000,0.000577,0.001231,0.001538,0.107692,P451980906
418627,3.0,1930,1.0,1.0,오징어볶음,71057,97.5,0.0,25.0,0.0,...,0.166692,2.470077,1.954846,11.698769,0.000000,0.001212,0.000606,0.019700,1.015308,P451980906

In [56]:
merged_df2

,ID,cfam,genertn,allownc,house,house_prc,house_yy,house_mm,house_long,house_p_yy,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,A448440901,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,A448440902,2.0,2.0,10.0,2.0,8000.0,20.0,0.0,1.0,88.0,...,10147.210496,36.271155,21544.371816,36012.827211,57557.199027,37.431237,22368.168979,39576.867999,61945.036978,36.109703
2,A448680102,4.0,4.0,20.0,2.0,100000.0,8.0,7.0,2.0,4.0,...,9187.553546,36.286346,22269.339707,31796.225315,54065.565022,41.189507,23114.327698,35755.704739,58870.032437,39.263317
3,A448680501,4.0,4.0,20.0,2.0,9999999.0,5.0,2.0,2.0,5.0,...,8723.150565,21.685734,11724.950815,36301.030400,48025.981215,24.413766,12571.863454,40136.724756,52708.588210,23.851641
4,A448740903,3.0,7.0,20.0,1.0,8888888.0,3.0,2.0,2.0,2.0,...,9687.218251,37.203307,23471.432798,34897.283429,58368.716227,40.212351,24379.078925,38627.065516,63006.144441,38.693177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578,O452899801,2.0,2.0,20.0,2.0,2000.0,20.0,0.0,1.0,88.0,...,9194.307608,8.301521,6279.544815,44613.721657,50893.266472,12.338655,7167.986235,48612.456159,55780.442393,12.850357
3579,O452899802,2.0,2.0,20.0,2.0,2000.0,20.0,0.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3580,O452900902,2.0,2.0,20.0,2.0,9999999.0,25.0,5.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3581,O452980901,2.0,2.0,20.0,2.0,9999999.0,40.0,9.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3582,O452980902,2.0,2.0,20.0,2.0,9999999.0,40.0,9.0,1.0,88.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [58]:
# Merge the merged_df2 and df_24RC on the 'id' key
merged_df3 = pd.merge(df24RC_for_merge_df2, merged_df2, on = 'ID',how='inner')
merged_df3

,N_MEAL,N_MEAL_T,N_MEAL_P,N_MTYPE,N_DNAME,N_DCODE,N_CD_VOL,N_CD_WT,N_TD_VOL,N_TD_WT,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
1,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
2,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
3,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
4,1.0,0800,1.0,1.0,잡곡밥,10144,2280.0,0.0,400.0,0.0,...,8994.922731,17.772503,9588.845972,42302.803296,51891.649269,18.478592,10554.355505,46552.974364,57107.329869,18.481613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154897,2.0,1300,6.0,3.0,새송이버섯볶,21041,90.9,0.0,15.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154898,2.0,1300,6.0,3.0,새송이버섯볶,21041,90.9,0.0,15.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154899,2.0,1300,6.0,3.0,새송이버섯볶,21041,90.9,0.0,15.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154900,2.0,1300,6.0,3.0,새송이버섯볶,21041,90.9,0.0,15.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154901,2.0,1300,6.0,3.0,새송이버섯볶,21041,90.9,0.0,15.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
merged_df3['ID']

0         A448440901
1         A448440901
2         A448440901
3         A448440901
4         A448440901
             ...
154897    O452980902
154898    O452980902
154899    O452980902
154900    O452980902
154901    O452980902
Name: ID, Length: 154902, dtype: object