In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
hn_all = pd.read_spss('HN09_ALL.sav')

In [4]:
hn_all

,mod_d,id,year,region,town_t,apt_t,psu,sex,age,age_month,...,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_S3,HW_ES_E3,HW_ES_D3,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,999,999,999.0,999,999,999.0,6.0,1.0,8.0,23.0
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,888,888,888.0,888,888,888.0,888.0,1.0,13.0,19.0
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,999,999,999.0,999,999,999.0,3.0,1.0,2.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,888,888,888.0,888,888,888.0,888.0,1.0,5.0,27.0
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,888,888,888.0,888,888,888.0,888.0,8.0,888.0,888.0
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,888,888,888.0,888,888,888.0,888.0,1.0,3.0,28.0

In [27]:
dxa = pd.read_spss('hn09_dxa.sav')

In [28]:
dxa

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2019.03.06.,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,2.0,...,9528.086359,36.947322,23674.546887,35986.926504,59661.473391,39.681465,24608.329286,40183.135078,64791.464364,37.980820
1,2019.03.06.,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,2.0,...,7444.962148,29.805578,14816.080851,31609.547395,46425.628246,31.913582,15669.699254,35540.432635,51210.131889,30.598826
2,2019.03.06.,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,2.0,...,13449.906212,27.821491,22672.114745,53469.194860,76141.309604,29.776366,23654.753554,58018.357277,81673.110830,28.962719
3,2019.03.06.,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,4.0,...,11698.859117,23.764176,19920.313156,49568.273413,69488.586569,28.667029,21084.993207,54540.520128,75625.513335,27.880794
4,2019.03.06.,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,4.0,...,9758.595831,28.012945,12730.647244,39106.098068,51836.745311,24.559118,13615.328022,43226.351483,56841.679504,23.953071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,2019.03.06.,P411920902,2009.0,16.0,2.0,1.0,P411,1.0,38.0,1.0,...,8640.254010,11.568272,4881.636807,40261.655735,45143.292542,10.813648,5728.415454,44171.210079,49899.625533,11.479877
7916,2019.03.06.,P411920903,2009.0,16.0,2.0,1.0,P411,2.0,37.0,1.0,...,7121.781774,31.736703,10451.884740,29787.020007,40238.904747,25.974576,11328.169255,34025.575581,45353.744836,24.977363
7917,2019.03.06.,P411940901,2009.0,16.0,2.0,1.0,P411,1.0,39.0,2.0,...,9506.963220,29.421916,18173.272466,41116.616502,59289.888969,30.651554,19158.920930,45447.295445,64606.216375,29.654919
7918,2019.03.06.,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,4.0,...,8165.050752,17.019458,6745.079732,40989.487812,47734.567544,14.130388,7653.917868,45250.497323,52904.415192,14.467446
7919,2019.03.06.,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,3.0,...,10523.311993,38.568988,23320.266870,37863.259086,61183.525957,38.115271,24173.511326,41730.790045,65904.301371,36.679717

In [7]:
# Check for overlapping columns
overlapping_columns = set(dxa.columns) & set(hn_all.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'occp', 'wt_pfhmnt', 'sex', 'wt_ex1hmnt', 'region', 'incm', 'age_month', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'town_t', 'psu', 'wt_ex1nt', 'wt_ntr', 'incm5', 'wt_hs', 'wt_pfnt', 'wt_pfhm', 'ho_incm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'kstrata2', 'wt_dw', 'mod_d', 'ho_incm5', 'wt_itv'}

In [8]:
columns_HN08 = set(hn_all.columns)
columns_dxa = set(dxa.columns)


overlapping_columns = columns_HN08.intersection(columns_dxa)
overlapping_columns

{'age',
 'age_month',
 'apt_t',
 'edu',
 'ho_incm',
 'ho_incm5',
 'incm',
 'incm5',
 'kstrata',
 'kstrata2',
 'mod_d',
 'occp',
 'psu',
 'region',
 'sex',
 'town_t',
 'wt_dw',
 'wt_ex',
 'wt_ex1',
 'wt_ex1hm',
 'wt_ex1hmnt',
 'wt_ex1nt',
 'wt_ex1pf',
 'wt_ex1pfnt',
 'wt_hm',
 'wt_hmnt',
 'wt_hs',
 'wt_itv',
 'wt_itvex',
 'wt_ntr',
 'wt_pfhm',
 'wt_pfhmnt',
 'wt_pfnt',
 'wt_pft',
 'wt_tot',
 'wt_tot1',
 'wt_tot1nt',
 'year'}

In [10]:
list1 = ['apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'occp', 'wt_pfhmnt', 'sex', 'wt_ex1hmnt', 'region', 'incm', 'age_month', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'town_t', 'psu', 'wt_ex1nt', 'wt_ntr', 'incm5', 'wt_hs', 'wt_pfnt', 'wt_pfhm', 'ho_incm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'kstrata2', 'wt_dw', 'mod_d', 'ho_incm5', 'wt_itv']
len(list1)

38

In [14]:
list2 =['age', 'age_month', 'apt_t', 'edu', 'ho_incm', 'ho_incm5', 'incm', 'incm5','kstrata','kstrata2','mod_d','occp','psu','region','sex','town_t','wt_dw','wt_ex','wt_ex1','wt_ex1hm','wt_ex1hmnt','wt_ex1nt','wt_ex1pf','wt_ex1pfnt','wt_hm','wt_hmnt','wt_hs','wt_itv','wt_itvex','wt_ntr','wt_pfhm','wt_pfhmnt','wt_pfnt','wt_pft','wt_tot','wt_tot1','wt_tot1nt','year']
len(list2)

38

In [15]:
list1 == list2

False

In [16]:
def are_lists_equal(list1, list2):
    return set(list1) == set(list2)

# Example usage:
list1 = [1, 2, 3, 4]
list2 = [4, 3, 2, 1]

if are_lists_equal(list1, list2):
    print("The lists consist of the same attributes.")
else:
    print("The lists have different attributes.")
    
    
    
are_lists_equal(list1, list2)

The lists consist of the same attributes.

True

In [32]:
hn_all.rename(columns={'id' : 'ID'}, inplace= True)

In [33]:
hn_all

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_S3,HW_ES_E3,HW_ES_D3,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,999,999,999.0,999,999,999.0,6.0,1.0,8.0,23.0
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,888,888,888.0,888,888,888.0,888.0,1.0,13.0,19.0
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,999,999,999.0,999,999,999.0,3.0,1.0,2.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,888,888,888.0,888,888,888.0,888.0,1.0,5.0,27.0
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,888,888,888.0,888,888,888.0,888.0,8.0,888.0,888.0
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,888,888,888.0,888,888,888.0,888.0,1.0,3.0,28.0

In [34]:
dxa

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2019.03.06.,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,2.0,...,9528.086359,36.947322,23674.546887,35986.926504,59661.473391,39.681465,24608.329286,40183.135078,64791.464364,37.980820
1,2019.03.06.,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,2.0,...,7444.962148,29.805578,14816.080851,31609.547395,46425.628246,31.913582,15669.699254,35540.432635,51210.131889,30.598826
2,2019.03.06.,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,2.0,...,13449.906212,27.821491,22672.114745,53469.194860,76141.309604,29.776366,23654.753554,58018.357277,81673.110830,28.962719
3,2019.03.06.,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,4.0,...,11698.859117,23.764176,19920.313156,49568.273413,69488.586569,28.667029,21084.993207,54540.520128,75625.513335,27.880794
4,2019.03.06.,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,4.0,...,9758.595831,28.012945,12730.647244,39106.098068,51836.745311,24.559118,13615.328022,43226.351483,56841.679504,23.953071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,2019.03.06.,P411920902,2009.0,16.0,2.0,1.0,P411,1.0,38.0,1.0,...,8640.254010,11.568272,4881.636807,40261.655735,45143.292542,10.813648,5728.415454,44171.210079,49899.625533,11.479877
7916,2019.03.06.,P411920903,2009.0,16.0,2.0,1.0,P411,2.0,37.0,1.0,...,7121.781774,31.736703,10451.884740,29787.020007,40238.904747,25.974576,11328.169255,34025.575581,45353.744836,24.977363
7917,2019.03.06.,P411940901,2009.0,16.0,2.0,1.0,P411,1.0,39.0,2.0,...,9506.963220,29.421916,18173.272466,41116.616502,59289.888969,30.651554,19158.920930,45447.295445,64606.216375,29.654919
7918,2019.03.06.,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,4.0,...,8165.050752,17.019458,6745.079732,40989.487812,47734.567544,14.130388,7653.917868,45250.497323,52904.415192,14.467446
7919,2019.03.06.,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,3.0,...,10523.311993,38.568988,23320.266870,37863.259086,61183.525957,38.115271,24173.511326,41730.790045,65904.301371,36.679717

In [35]:
# Check for overlapping columns
overlapping_columns = set(dxa.columns) & set(hn_all.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'occp', 'wt_pfhmnt', 'sex', 'wt_ex1hmnt', 'region', 'incm', 'age_month', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'town_t', 'psu', 'wt_ex1nt', 'wt_ntr', 'ID', 'incm5', 'wt_hs', 'wt_pfnt', 'wt_pfhm', 'ho_incm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'kstrata2', 'wt_dw', 'mod_d', 'ho_incm5', 'wt_itv'}

In [38]:
list1 = ['apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'occp', 'wt_pfhmnt', 'sex', 'wt_ex1hmnt', 'region', 'incm', 'age_month', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'town_t', 'psu', 'wt_ex1nt', 'wt_ntr', 'ID', 'incm5', 'wt_hs', 'wt_pfnt', 'wt_pfhm', 'ho_incm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'kstrata2', 'wt_dw', 'mod_d', 'ho_incm5', 'wt_itv']
len(list1)

39

In [36]:
dxa = dxa.drop(['apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'occp', 'wt_pfhmnt', 'sex', 'wt_ex1hmnt', 'region', 'incm', 'age_month', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'town_t', 'psu', 'wt_ex1nt', 'wt_ntr', 'incm5', 'wt_hs', 'wt_pfnt', 'wt_pfhm', 'ho_incm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'kstrata2', 'wt_dw', 'mod_d', 'ho_incm5', 'wt_itv'], axis=1)

In [37]:
dxa

,ID,kstrata0,DXW_ex,DX_Q_ht,DX_Q_hsty,DX_Q_fall,DX_Q_fnm,DX_Q_MP,DX_TFM_A,DX_TFM_BMC,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,A408359801,417.0,3.0,159.0,1.0,2.0,8888.0,2.0,33.298030,31.972030,...,9528.086359,36.947322,23674.546887,35986.926504,59661.473391,39.681465,24608.329286,40183.135078,64791.464364,37.980820
1,A408359802,417.0,3.0,157.0,1.0,1.0,1.0,2.0,33.820510,29.620800,...,7444.962148,29.805578,14816.080851,31609.547395,46425.628246,31.913582,15669.699254,35540.432635,51210.131889,30.598826
2,A408359803,417.0,3.0,174.0,2.0,2.0,8888.0,8.0,44.581580,54.611040,...,13449.906212,27.821491,22672.114745,53469.194860,76141.309604,29.776366,23654.753554,58018.357277,81673.110830,28.962719
3,A408399801,417.0,3.0,165.0,1.0,2.0,8888.0,8.0,41.537130,49.949120,...,11698.859117,23.764176,19920.313156,49568.273413,69488.586569,28.667029,21084.993207,54540.520128,75625.513335,27.880794
4,A408399802,417.0,3.0,156.0,2.0,2.0,8888.0,1.0,34.764990,36.531600,...,9758.595831,28.012945,12730.647244,39106.098068,51836.745311,24.559118,13615.328022,43226.351483,56841.679504,23.953071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,P411920902,432.0,3.0,164.0,2.0,2.0,8888.0,8.0,41.138575,37.212148,...,8640.254010,11.568272,4881.636807,40261.655735,45143.292542,10.813648,5728.415454,44171.210079,49899.625533,11.479877
7916,P411920903,432.0,3.0,99999.9,2.0,2.0,8888.0,2.0,31.100072,30.893157,...,7121.781774,31.736703,10451.884740,29787.020007,40238.904747,25.974576,11328.169255,34025.575581,45353.744836,24.977363
7917,P411940901,432.0,3.0,165.0,2.0,2.0,8888.0,8.0,40.438214,40.889956,...,9506.963220,29.421916,18173.272466,41116.616502,59289.888969,30.651554,19158.920930,45447.295445,64606.216375,29.654919
7918,P411980906,432.0,3.0,160.0,2.0,2.0,8888.0,8.0,44.599777,37.534217,...,8165.050752,17.019458,6745.079732,40989.487812,47734.567544,14.130388,7653.917868,45250.497323,52904.415192,14.467446
7919,P411980907,432.0,3.0,159.0,2.0,2.0,8888.0,1.0,36.276651,38.530286,...,10523.311993,38.568988,23320.266870,37863.259086,61183.525957,38.115271,24173.511326,41730.790045,65904.301371,36.679717

In [39]:
hn_all

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,HW_ES_S2,HW_ES_E2,HW_ES_D2,HW_ES_S3,HW_ES_E3,HW_ES_D3,HW_ES_DR,HW_PG,HW_PG_FQ,HW_PG_AG
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,999,999,999.0,999,999,999.0,6.0,1.0,8.0,23.0
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,888,888,888.0,888,888,888.0,888.0,1.0,13.0,19.0
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,999,999,999.0,999,999,999.0,3.0,1.0,2.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,888,888,888.0,888,888,888.0,888.0,1.0,5.0,27.0
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,888,888,888.0,888,888,888.0,888.0,8.0,888.0,888.0
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,,,NaN,,,NaN,NaN,NaN,NaN,NaN
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,888,888,888.0,888,888,888.0,888.0,1.0,3.0,28.0

In [40]:
dxa

,ID,kstrata0,DXW_ex,DX_Q_ht,DX_Q_hsty,DX_Q_fall,DX_Q_fnm,DX_Q_MP,DX_TFM_A,DX_TFM_BMC,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,A408359801,417.0,3.0,159.0,1.0,2.0,8888.0,2.0,33.298030,31.972030,...,9528.086359,36.947322,23674.546887,35986.926504,59661.473391,39.681465,24608.329286,40183.135078,64791.464364,37.980820
1,A408359802,417.0,3.0,157.0,1.0,1.0,1.0,2.0,33.820510,29.620800,...,7444.962148,29.805578,14816.080851,31609.547395,46425.628246,31.913582,15669.699254,35540.432635,51210.131889,30.598826
2,A408359803,417.0,3.0,174.0,2.0,2.0,8888.0,8.0,44.581580,54.611040,...,13449.906212,27.821491,22672.114745,53469.194860,76141.309604,29.776366,23654.753554,58018.357277,81673.110830,28.962719
3,A408399801,417.0,3.0,165.0,1.0,2.0,8888.0,8.0,41.537130,49.949120,...,11698.859117,23.764176,19920.313156,49568.273413,69488.586569,28.667029,21084.993207,54540.520128,75625.513335,27.880794
4,A408399802,417.0,3.0,156.0,2.0,2.0,8888.0,1.0,34.764990,36.531600,...,9758.595831,28.012945,12730.647244,39106.098068,51836.745311,24.559118,13615.328022,43226.351483,56841.679504,23.953071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7915,P411920902,432.0,3.0,164.0,2.0,2.0,8888.0,8.0,41.138575,37.212148,...,8640.254010,11.568272,4881.636807,40261.655735,45143.292542,10.813648,5728.415454,44171.210079,49899.625533,11.479877
7916,P411920903,432.0,3.0,99999.9,2.0,2.0,8888.0,2.0,31.100072,30.893157,...,7121.781774,31.736703,10451.884740,29787.020007,40238.904747,25.974576,11328.169255,34025.575581,45353.744836,24.977363
7917,P411940901,432.0,3.0,165.0,2.0,2.0,8888.0,8.0,40.438214,40.889956,...,9506.963220,29.421916,18173.272466,41116.616502,59289.888969,30.651554,19158.920930,45447.295445,64606.216375,29.654919
7918,P411980906,432.0,3.0,160.0,2.0,2.0,8888.0,8.0,44.599777,37.534217,...,8165.050752,17.019458,6745.079732,40989.487812,47734.567544,14.130388,7653.917868,45250.497323,52904.415192,14.467446
7919,P411980907,432.0,3.0,159.0,2.0,2.0,8888.0,1.0,36.276651,38.530286,...,10523.311993,38.568988,23320.266870,37863.259086,61183.525957,38.115271,24173.511326,41730.790045,65904.301371,36.679717

In [41]:
merged_df = hn_all.merge(dxa, on='ID', how='outer')

In [42]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,9528.086359,36.947322,23674.546887,35986.926504,59661.473391,39.681465,24608.329286,40183.135078,64791.464364,37.980820
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,7444.962148,29.805578,14816.080851,31609.547395,46425.628246,31.913582,15669.699254,35540.432635,51210.131889,30.598826
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,13449.906212,27.821491,22672.114745,53469.194860,76141.309604,29.776366,23654.753554,58018.357277,81673.110830,28.962719
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,11698.859117,23.764176,19920.313156,49568.273413,69488.586569,28.667029,21084.993207,54540.520128,75625.513335,27.880794
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,9758.595831,28.012945,12730.647244,39106.098068,51836.745311,24.559118,13615.328022,43226.351483,56841.679504,23.953071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,8165.050752,17.019458,6745.079732,40989.487812,47734.567544,14.130388,7653.917868,45250.497323,52904.415192,14.467446
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,10523.311993,38.568988,23320.266870,37863.259086,61183.525957,38.115271,24173.511326,41730.790045,65904.301371,36.679717

In [43]:
ent = pd.read_spss('hn09_ent.sav')

In [44]:
ent

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB,T_oHR_aid
0,2019.03.06.,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,5.0,0.0,5.0,-5.0,5.0,10.0,1.25,0.0,0.0,NaN
1,2019.03.06.,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,0.0,0.0,5.0,5.0,5.0,10.0,2.50,0.0,0.0,NaN
2,2019.03.06.,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,5.0,0.0,5.0,5.0,0.0,10.0,3.75,0.0,0.0,NaN
3,2019.03.06.,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,10.0,5.0,5.0,10.0,10.0,40.0,7.50,0.0,0.0,NaN
4,2019.03.06.,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,20.0,0.0,10.0,5.0,10.0,15.0,8.75,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10060,2019.03.06.,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10061,2019.03.06.,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10062,2019.03.06.,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10063,2019.03.06.,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10064,2019.03.06.,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(ent.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'kstrata0', 'occp', 'wt_pfhmnt', 'sex', 'wt_ex1hmnt', 'region', 'age_month', 'incm', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'town_t', 'psu', 'wt_ex1nt', 'wt_ntr', 'ID', 'incm5', 'wt_hs', 'wt_pfnt', 'wt_pfhm', 'ho_incm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'kstrata2', 'wt_dw', 'mod_d', 'ho_incm5', 'wt_itv'}

In [47]:
list1 = ['apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'kstrata0', 'occp', 'wt_pfhmnt', 'sex', 'wt_ex1hmnt', 'region', 'age_month', 'incm', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'town_t', 'psu', 'wt_ex1nt', 'wt_ntr', 'ID', 'incm5', 'wt_hs', 'wt_pfnt', 'wt_pfhm', 'ho_incm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'kstrata2', 'wt_dw', 'mod_d', 'ho_incm5', 'wt_itv']
len(list1)

40

In [48]:
ent = ent.drop(['apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'kstrata0', 'occp', 'wt_pfhmnt', 'sex', 'wt_ex1hmnt', 'region', 'age_month', 'incm', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'town_t', 'psu', 'wt_ex1nt', 'wt_ntr','incm5', 'wt_hs', 'wt_pfnt', 'wt_pfhm', 'ho_incm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'kstrata2', 'wt_dw', 'mod_d', 'ho_incm5', 'wt_itv'], axis=1)

In [49]:
ent

,ID,T_ex,T_Q_DZ,T_Q_DZ1,T_Q_DZ2,T_Q_VC,T_Q_VC1,T_Q_HR,T_Q_HR1,T_Q_VN,...,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB,T_oHR_aid
0,A408359801,1.0,2.0,8.0,8.0,2.0,8.0,1.0,8.0,2.0,...,5.0,0.0,5.0,-5.0,5.0,10.0,1.25,0.0,0.0,NaN
1,A408359802,1.0,2.0,8.0,8.0,2.0,8.0,1.0,8.0,2.0,...,0.0,0.0,5.0,5.0,5.0,10.0,2.50,0.0,0.0,NaN
2,A408359803,1.0,8.0,8.0,8.0,2.0,8.0,1.0,8.0,2.0,...,5.0,0.0,5.0,5.0,0.0,10.0,3.75,0.0,0.0,NaN
3,A408399801,1.0,2.0,8.0,8.0,2.0,8.0,1.0,8.0,2.0,...,10.0,5.0,5.0,10.0,10.0,40.0,7.50,0.0,0.0,NaN
4,A408399802,1.0,1.0,2.0,2.0,2.0,8.0,1.0,8.0,2.0,...,20.0,0.0,10.0,5.0,10.0,15.0,8.75,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10060,P411980902,1.0,8.0,8.0,8.0,2.0,8.0,1.0,8.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10061,P411980903,1.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10062,P411980904,1.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10063,P411980906,1.0,2.0,8.0,8.0,2.0,8.0,3.0,3.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10064,P411980907,1.0,2.0,8.0,8.0,2.0,8.0,1.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,9528.086359,36.947322,23674.546887,35986.926504,59661.473391,39.681465,24608.329286,40183.135078,64791.464364,37.980820
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,7444.962148,29.805578,14816.080851,31609.547395,46425.628246,31.913582,15669.699254,35540.432635,51210.131889,30.598826
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,13449.906212,27.821491,22672.114745,53469.194860,76141.309604,29.776366,23654.753554,58018.357277,81673.110830,28.962719
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,11698.859117,23.764176,19920.313156,49568.273413,69488.586569,28.667029,21084.993207,54540.520128,75625.513335,27.880794
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,9758.595831,28.012945,12730.647244,39106.098068,51836.745311,24.559118,13615.328022,43226.351483,56841.679504,23.953071
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,8165.050752,17.019458,6745.079732,40989.487812,47734.567544,14.130388,7653.917868,45250.497323,52904.415192,14.467446
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,10523.311993,38.568988,23320.266870,37863.259086,61183.525957,38.115271,24173.511326,41730.790045,65904.301371,36.679717

In [51]:
merged_df = merged_df.merge(ent, on='ID', how='outer')

In [52]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB,T_oHR_aid
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,5.0,0.0,5.0,-5.0,5.0,10.0,1.25,0.0,0.0,NaN
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,0.0,0.0,5.0,5.0,5.0,10.0,2.50,0.0,0.0,NaN
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,5.0,0.0,5.0,5.0,0.0,10.0,3.75,0.0,0.0,NaN
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,10.0,5.0,5.0,10.0,10.0,40.0,7.50,0.0,0.0,NaN
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,20.0,0.0,10.0,5.0,10.0,15.0,8.75,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
eye = pd.read_spss('hn09_eye.sav')

In [54]:
eye

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14,E_DL_cmt
0,2019.03.06.,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
1,2019.03.06.,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
2,2019.03.06.,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
3,2019.03.06.,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
4,2019.03.06.,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755,2019.03.06.,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
9756,2019.03.06.,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
9757,2019.03.06.,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
9758,2019.03.06.,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
9759,2019.03.06.,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,

In [55]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(eye.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'kstrata0', 'occp', 'wt_pfhmnt', 'sex', 'wt_ex1hmnt', 'region', 'incm', 'age_month', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'town_t', 'psu', 'wt_ex1nt', 'wt_ntr', 'ID', 'incm5', 'wt_hs', 'wt_pfnt', 'wt_pfhm', 'ho_incm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'kstrata2', 'wt_dw', 'mod_d', 'ho_incm5', 'wt_itv'}

In [56]:
list1=['apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'kstrata0', 'occp', 'wt_pfhmnt', 'sex', 'wt_ex1hmnt', 'region', 'incm', 'age_month', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'town_t', 'psu', 'wt_ex1nt', 'wt_ntr', 'ID', 'incm5', 'wt_hs', 'wt_pfnt', 'wt_pfhm', 'ho_incm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'kstrata2', 'wt_dw', 'mod_d', 'ho_incm5', 'wt_itv']
len(list1)

40

In [57]:
eye = eye.drop(['apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'kstrata0', 'occp', 'wt_pfhmnt', 'sex', 'wt_ex1hmnt', 'region', 'incm', 'age_month', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'town_t', 'psu', 'wt_ex1nt', 'wt_ntr','incm5', 'wt_hs', 'wt_pfnt', 'wt_pfhm', 'ho_incm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'kstrata2', 'wt_dw', 'mod_d', 'ho_incm5', 'wt_itv'], axis=1)

In [58]:
eye

,ID,E_ex,E_Q_EX,E_Q_OUT,E_Q_OUT1,E_Q_FAM,E_Q_FAM1,E_Q_RM,E_Q_EXC,E_Q_EXC1,...,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14,E_DL_cmt
0,A408359801,1.0,4.0,1.0,1.0,1.0,1,4.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
1,A408359802,1.0,4.0,1.0,1.0,1.0,2,2.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
2,A408359803,1.0,4.0,1.0,1.0,2.0,888888,4.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
3,A408399801,1.0,5.0,1.0,2.0,1.0,2,4.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
4,A408399802,1.0,5.0,1.0,1.0,2.0,888888,2.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9755,P411980902,1.0,3.0,1.0,1.0,2.0,888888,2.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
9756,P411980903,1.0,8.0,8.0,8.0,8.0,888888,8.0,2.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
9757,P411980904,1.0,8.0,8.0,8.0,8.0,888888,8.0,2.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
9758,P411980906,1.0,3.0,1.0,2.0,2.0,888888,3.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
9759,P411980907,1.0,2.0,1.0,2.0,2.0,888888,4.0,8.0,888888,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,

In [59]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB,T_oHR_aid
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,5.0,0.0,5.0,-5.0,5.0,10.0,1.25,0.0,0.0,NaN
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,0.0,0.0,5.0,5.0,5.0,10.0,2.50,0.0,0.0,NaN
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,5.0,0.0,5.0,5.0,0.0,10.0,3.75,0.0,0.0,NaN
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,10.0,5.0,5.0,10.0,10.0,40.0,7.50,0.0,0.0,NaN
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,20.0,0.0,10.0,5.0,10.0,15.0,8.75,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
merged_df = merged_df.merge(eye, on='ID', how='outer')

In [61]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14,E_DL_cmt
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,

In [62]:
ijmt = pd.read_spss('hn09_ijmt.sav')

In [63]:
ijmt

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,MP6_1_08,MP6_2_08,MP6_3_08,MP6_4_08,MP6_5_08,MP6_6_08,MP6_8_08,MP6_9_08,MP7_1_08,MP8_4_08
0,2019.03.06.,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
1,2019.03.06.,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
2,2019.03.06.,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,2.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
3,2019.03.06.,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
4,2019.03.06.,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10046,2019.03.06.,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10047,2019.03.06.,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10048,2019.03.06.,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10049,2019.03.06.,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,4.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10050,2019.03.06.,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,3.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0

In [64]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(ijmt.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'kstrata0', 'occp', 'wt_pfhmnt', 'wt_ex1hmnt', 'sex', 'incm', 'age_month', 'region', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'psu', 'town_t', 'wt_ntr', 'wt_ex1nt', 'ID', 'incm5', 'wt_hs', 'wt_pfnt', 'ho_incm', 'wt_pfhm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'wt_dw', 'kstrata2', 'mod_d', 'ho_incm5', 'wt_itv'}

In [65]:
list1 = ['apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'kstrata0', 'occp', 'wt_pfhmnt', 'wt_ex1hmnt', 'sex', 'incm', 'age_month', 'region', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'psu', 'town_t', 'wt_ntr', 'wt_ex1nt', 'ID', 'incm5', 'wt_hs', 'wt_pfnt', 'ho_incm', 'wt_pfhm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'wt_dw', 'kstrata2', 'mod_d', 'ho_incm5', 'wt_itv']
len(list1)

40

In [66]:
ijmt = ijmt.drop(['apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'kstrata0', 'occp', 'wt_pfhmnt', 'wt_ex1hmnt', 'sex', 'incm', 'age_month', 'region', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'psu', 'town_t', 'wt_ntr', 'wt_ex1nt','incm5', 'wt_hs', 'wt_pfnt', 'ho_incm', 'wt_pfhm', 'wt_hmnt', 'wt_hm', 'age', 'wt_ex1pfnt', 'wt_dw', 'kstrata2', 'mod_d', 'ho_incm5', 'wt_itv'], axis=1)

In [67]:
ijmt

,ID,AC1_yr,AC3,AC3_1_01,AC3_2_01,AC4_1_01,AC4_2_01,AC4_3_01,AC4_4_01,AC4_5_01,...,MP6_1_08,MP6_2_08,MP6_3_08,MP6_4_08,MP6_5_08,MP6_6_08,MP6_8_08,MP6_9_08,MP7_1_08,MP8_4_08
0,A408359801,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
1,A408359802,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
2,A408359803,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
3,A408399801,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
4,A408399802,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10046,P411980902,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10047,P411980903,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10048,P411980904,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10049,P411980906,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10050,P411980907,2.0,88.0,8888.0,88.0,8.0,8.0,8.0,8.0,8.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0

In [68]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14,E_DL_cmt
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,

In [69]:
merged_df = merged_df.merge(ijmt, on='ID', how='outer')

In [70]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,MP6_1_08,MP6_2_08,MP6_3_08,MP6_4_08,MP6_5_08,MP6_6_08,MP6_8_08,MP6_9_08,MP7_1_08,MP8_4_08
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0

In [71]:
oe = pd.read_spss('hn09_OE.sav')

In [72]:
oe

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,2019.03.06.,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019.03.06.,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019.03.06.,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019.03.06.,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019.03.06.,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10073,2019.03.06.,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10074,2019.03.06.,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10075,2019.03.06.,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10076,2019.03.06.,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10077,2019.03.06.,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(oe.columns)

# Print the overlapping columns
print(overlapping_columns)

{'apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'O_DMFTP', 'kstrata0', 'occp', 'wt_pfhmnt', 'wt_ex1hmnt', 'sex', 'O_DID', 'incm', 'age_month', 'region', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'psu', 'town_t', 'wt_ntr', 'wt_ex1nt', 'ID', 'O_DFID', 'incm5', 'O_DIP', 'wt_hs', 'wt_pfnt', 'ho_incm', 'wt_pfhm', 'O_DMFIP', 'wt_hmnt', 'O_DTP', 'O_DFTD', 'wt_hm', 'age', 'wt_ex1pfnt', 'wt_dw', 'kstrata2', 'O_DTD', 'mod_d', 'ho_incm5', 'wt_itv'}

In [75]:
list1 =['apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'O_DMFTP', 'kstrata0', 'occp', 'wt_pfhmnt', 'wt_ex1hmnt', 'sex', 'O_DID', 'incm', 'age_month', 'region', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'psu', 'town_t', 'wt_ntr', 'wt_ex1nt', 'ID', 'O_DFID', 'incm5', 'O_DIP', 'wt_hs', 'wt_pfnt', 'ho_incm', 'wt_pfhm', 'O_DMFIP', 'wt_hmnt', 'O_DTP', 'O_DFTD', 'wt_hm', 'age', 'wt_ex1pfnt', 'wt_dw', 'kstrata2', 'O_DTD', 'mod_d', 'ho_incm5', 'wt_itv']
len(list1)

48

In [76]:
oe = oe.drop(['apt_t', 'wt_itvex', 'wt_tot', 'wt_ex1pf', 'wt_tot1', 'kstrata', 'wt_pft', 'wt_ex1hm', 'year', 'O_DMFTP', 'kstrata0', 'occp', 'wt_pfhmnt', 'wt_ex1hmnt', 'sex', 'O_DID', 'incm', 'age_month', 'region', 'edu', 'wt_ex1', 'wt_ex', 'wt_tot1nt', 'psu', 'town_t', 'wt_ntr', 'wt_ex1nt','O_DFID', 'incm5', 'O_DIP', 'wt_hs', 'wt_pfnt', 'ho_incm', 'wt_pfhm', 'O_DMFIP', 'wt_hmnt', 'O_DTP', 'O_DFTD', 'wt_hm', 'age', 'wt_ex1pfnt', 'wt_dw', 'kstrata2', 'O_DTD', 'mod_d', 'ho_incm5', 'wt_itv'],axis=1)

In [77]:
oe

,ID,O_PROS_U,O_PROS_L,O_IMP_U,O_IMP_L,O_Br_N_U,O_Br_N_L,O_Dent_U,O_Dent_L,O_F,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,A408359801,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A408359802,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A408359803,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A408399801,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A408399802,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10073,P411980902,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10074,P411980903,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10075,P411980904,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10076,P411980906,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10077,P411980907,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,MP6_1_08,MP6_2_08,MP6_3_08,MP6_4_08,MP6_5_08,MP6_6_08,MP6_8_08,MP6_9_08,MP7_1_08,MP8_4_08
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,,88888888.0,8.0

In [79]:
merged_df = merged_df.merge(oe, on='ID', how='outer')

In [80]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
rc1 = pd.read_spss('hn09_24RC.sav')

In [82]:
rc1

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2019.03.06.,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,2.0,...,0.193363,68.837168,10.054867,0.000000,0.000,0.000,0.007735,0.003867,0.696106,0.000
1,2019.03.06.,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,2.0,...,0.325664,1613.663717,240.176991,39.893805,0.000,0.000,0.504779,0.350088,0.814159,0.000
2,2019.03.06.,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,2.0,...,0.288000,412.560000,108.000000,17.280000,104.400,0.000,0.021600,0.021600,0.288000,5.040
3,2019.03.06.,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,2.0,...,0.078300,76.212000,29.232000,30.624000,183.483,0.000,0.012180,0.012180,0.078300,1.653
4,2019.03.06.,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,2.0,...,0.014800,22.052000,14.800000,1.406000,8.362,0.000,0.005180,0.001850,0.018500,0.703
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462122,2019.03.06.,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,3.0,...,0.000000,43.252000,680.236000,3.932000,19.660,0.000,0.511160,0.157280,1.572800,173.008
462123,2019.03.06.,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,3.0,...,0.249200,82.236000,46.636000,10.324000,16.020,7.476,0.049840,0.021360,0.462800,0.000
462124,2019.03.06.,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,3.0,...,0.024000,0.160000,0.240000,0.000000,0.000,0.000,0.000000,0.000000,0.000000,0.000
462125,2019.03.06.,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,3.0,...,0.128000,0.853333,96.000000,0.000000,0.000,0.000,0.000533,0.005333,0.826667,0.000
462126,2019.03.06.,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,3.0,...,0.032000,15.946667,32.480000,0.000000,0.000,0.000,0.001600,0.000533,0.010667,0.000

In [83]:
rc2 = pd.read_spss('Hn09_24rc_2day.sav')

In [84]:
rc2

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,incm,...,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_B1,NF_B2,NF_NIAC,NF_VITC
0,2019.03.06.,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,2.0,...,0.001859,2.673771,0.694640,0.355770,2.066172,0.0,0.000144,0.000439,0.001352,0.004225
1,2019.03.06.,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,2.0,...,0.078228,4.239788,5.504964,0.000000,0.000000,0.0,0.000579,0.000531,0.064225,0.000000
2,2019.03.06.,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,2.0,...,0.093488,133.921284,35.057928,5.609268,33.889330,0.0,0.007012,0.007012,0.093488,1.636037
3,2019.03.06.,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,2.0,...,0.000060,0.000966,0.007485,0.000000,0.000000,0.0,0.000000,0.000000,0.000012,0.000000
4,2019.03.06.,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,2.0,...,0.005383,0.008500,1.881333,0.000000,0.000000,0.0,0.000425,0.000907,0.001133,0.079333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99233,2019.03.06.,P409960903,2009.0,16.0,1.0,1.0,P409,1.0,3.0,3.0,...,0.160400,2.005000,69.373000,1.203000,6.015000,0.0,0.012030,0.004010,0.080200,0.802000
99234,2019.03.06.,P409960903,2009.0,16.0,1.0,1.0,P409,1.0,3.0,3.0,...,0.189000,190.080000,224.100000,3.780000,0.000000,0.0,0.048600,0.010800,0.351000,1.080000
99235,2019.03.06.,P409960903,2009.0,16.0,1.0,1.0,P409,1.0,3.0,3.0,...,0.286000,79.200000,28.380000,8.800000,0.000000,0.0,0.048400,0.028600,0.330000,0.000000
99236,2019.03.06.,P409960903,2009.0,16.0,1.0,1.0,P409,1.0,3.0,3.0,...,0.352000,85.800000,54.560000,14.080000,0.000000,0.0,0.017600,0.048400,0.374000,0.440000
99237,2019.03.06.,P409960903,2009.0,16.0,1.0,1.0,P409,1.0,3.0,3.0,...,0.265000,145.750000,392.200000,74.200000,31.800000,68.9,0.106000,0.371000,0.265000,2.650000

In [85]:
merged_df

,mod_d,ID,year,region,town_t,apt_t,psu,sex,age,age_month,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,2022.03.08,A408359801,2009.0,1.0,1.0,1.0,A408,2.0,48.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A408359802,2009.0,1.0,1.0,1.0,A408,2.0,49.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2022.03.08,A408359803,2009.0,1.0,1.0,1.0,A408,1.0,25.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A408399801,2009.0,1.0,1.0,1.0,A408,1.0,55.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A408399802,2009.0,1.0,1.0,1.0,A408,2.0,51.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10528,2022.03.08,P411980902,2009.0,16.0,2.0,1.0,P411,2.0,33.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10529,2022.03.08,P411980903,2009.0,16.0,2.0,1.0,P411,2.0,6.0,75.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10530,2022.03.08,P411980904,2009.0,16.0,2.0,1.0,P411,1.0,3.0,41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10531,2022.03.08,P411980906,2009.0,16.0,2.0,1.0,P411,1.0,65.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10532,2022.03.08,P411980907,2009.0,16.0,2.0,1.0,P411,2.0,57.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [86]:
merged_df.to_csv('2009_Data.csv', index=False)

In [87]:
merged_df.to_excel('2009_Data.xlsx', index=False)