In [1]:
import pandas as pd

In [2]:
hn_all = pd.read_spss('HN11_ALL.sav')

In [3]:
hn_all

,mod_d,id,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,N_FE,N_NA,N_K,N_VA,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,8.825176,8002.411162,2242.179502,1216.737164,6798.685230,80.923861,0.587216,0.958370,13.362491,66.538184
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,10.669418,9865.371865,3175.484695,991.444343,5309.758626,66.330626,1.091572,1.048872,16.120985,155.802767
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,8.145767,5523.886993,2585.378930,312.456977,1521.949727,60.720628,1.696853,1.036766,13.871697,173.101467
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,12.324093,8050.222425,3573.831439,976.437498,4731.029354,70.624607,1.556421,1.446812,23.255665,72.189116
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,6.981168,4405.030628,2311.937325,195.385714,1082.752182,9.833507,1.560520,0.988139,16.482503,60.757726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,14.232663,5567.582392,4186.800211,641.230850,3597.652072,9.170003,1.622668,0.978828,15.204804,213.141951
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,93.932927,1995.408988,4030.121092,528.813543,2784.146069,5.041667,1.279894,1.009646,12.572358,139.296713
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,17.672424,9622.897760,4368.687935,1741.791503,9822.829846,60.408778,1.314018,1.371018,21.406326,208.098149
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,18.777697,3389.049835,5513.254579,2078.842197,11888.879149,32.799126,1.263063,1.356339,16.660732,257.012109
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,22.351231,4740.785973,4862.557091,1324.831344,7473.907729,17.899415,1.857340,1.548382,19.475568,119.350621

In [4]:
hn_all.rename(columns={'id' : 'ID'}, inplace= True)

In [5]:
hn_all

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,N_FE,N_NA,N_K,N_VA,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,8.825176,8002.411162,2242.179502,1216.737164,6798.685230,80.923861,0.587216,0.958370,13.362491,66.538184
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,10.669418,9865.371865,3175.484695,991.444343,5309.758626,66.330626,1.091572,1.048872,16.120985,155.802767
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,8.145767,5523.886993,2585.378930,312.456977,1521.949727,60.720628,1.696853,1.036766,13.871697,173.101467
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,12.324093,8050.222425,3573.831439,976.437498,4731.029354,70.624607,1.556421,1.446812,23.255665,72.189116
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,6.981168,4405.030628,2311.937325,195.385714,1082.752182,9.833507,1.560520,0.988139,16.482503,60.757726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,14.232663,5567.582392,4186.800211,641.230850,3597.652072,9.170003,1.622668,0.978828,15.204804,213.141951
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,93.932927,1995.408988,4030.121092,528.813543,2784.146069,5.041667,1.279894,1.009646,12.572358,139.296713
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,17.672424,9622.897760,4368.687935,1741.791503,9822.829846,60.408778,1.314018,1.371018,21.406326,208.098149
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,18.777697,3389.049835,5513.254579,2078.842197,11888.879149,32.799126,1.263063,1.356339,16.660732,257.012109
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,22.351231,4740.785973,4862.557091,1324.831344,7473.907729,17.899415,1.857340,1.548382,19.475568,119.350621

In [6]:
dxa = pd.read_spss('hn11_dxa.sav')

In [7]:
dxa

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2019.03.06.,A371970301,A3719703,2011.0,1.0,1.0,1.0,A371,1.0,64.0,...,12829.777540,22.163133,21164.23142,55837.81076,77002.04219,27.485286,22192.30713,60684.06197,82876.36909,26.777605
1,2019.03.06.,A371970302,A3719703,2011.0,1.0,1.0,1.0,A371,2.0,59.0,...,8788.658829,31.286455,20843.43828,33945.05830,54788.49658,38.043457,21658.90655,37827.44393,59486.35048,36.409876
2,2019.03.06.,A371971101,A3719711,2011.0,1.0,1.0,1.0,A371,2.0,52.0,...,9253.197667,31.746817,20385.83355,36897.03439,57282.86794,35.588011,21225.41042,40768.43113,61993.84156,34.237934
3,2019.03.06.,A371971102,A3719711,2011.0,1.0,1.0,1.0,A371,2.0,27.0,...,10811.093360,31.050519,25728.54252,41154.16988,66882.71241,38.468151,26697.99308,45358.51373,72056.50681,37.051467
4,2019.03.06.,A371971103,A3719711,2011.0,1.0,1.0,1.0,A371,1.0,31.0,...,13444.232390,24.588840,24994.54587,52593.66240,77588.20827,32.214361,25984.47595,57013.39307,82997.86902,31.307401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,2019.03.06.,O359840901,O3598409,2011.0,15.0,1.0,1.0,O359,2.0,60.0,...,8557.627548,32.466055,16812.84099,31276.40752,48089.24851,34.961746,17517.34159,34366.15804,51883.49963,33.762837
2753,2019.03.06.,O359859801,O3598598,2011.0,15.0,1.0,1.0,O359,1.0,68.0,...,10662.509590,14.518038,11891.41417,50537.32061,62428.73478,19.047982,12845.82847,54632.52653,67478.35501,19.036962
2754,2019.03.06.,O359859802,O3598598,2011.0,15.0,1.0,1.0,O359,2.0,61.0,...,10484.810330,37.134370,24210.57884,38298.27663,62508.85547,38.731438,24950.32242,41723.03459,66673.35701,37.421728
2755,2019.03.06.,O359920901,O3599209,2011.0,15.0,1.0,1.0,O359,1.0,65.0,...,10747.840540,20.653609,15916.00295,49112.16685,65028.16980,24.475551,16825.74191,53243.75483,70069.49674,24.012934
2756,2019.03.06.,O359920902,O3599209,2011.0,15.0,1.0,1.0,O359,2.0,58.0,...,8558.304662,36.416440,16735.95417,32575.18957,49311.14375,33.939497,17566.68608,36113.95943,53680.64552,32.724432

In [8]:
# Check for overlapping columns
overlapping_columns = set(dxa.columns) & set(hn_all.columns)

# Print the overlapping columns
print(overlapping_columns)

{'incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'wt_hs', 'kstrata', 'incm5', 'ho_incm', 'town_t', 'wt_pfhmnt', 'wt_hm', 'age_month', 'wt_itvex', 'wt_ex1pfnt', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'wt_pfhm', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age', 'ID', 'wt_hmnt', 'wt_ex1', 'wt_ntr', 'year', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam'}

In [10]:
list1 = ['incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'wt_hs', 'kstrata', 'incm5', 'ho_incm', 'town_t', 'wt_pfhmnt', 'wt_hm', 'age_month', 'wt_itvex', 'wt_ex1pfnt', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'wt_pfhm', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age', 'ID', 'wt_hmnt', 'wt_ex1', 'wt_ntr', 'year', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam']
len(list1)

34

In [11]:
dxa = dxa.drop(['incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'wt_hs', 'kstrata', 'incm5', 'ho_incm', 'town_t', 'wt_pfhmnt', 'wt_hm', 'age_month', 'wt_itvex', 'wt_ex1pfnt', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'wt_pfhm', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age','wt_hmnt', 'wt_ex1', 'wt_ntr', 'year', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam'], axis=1)

In [12]:
dxa

,ID,kstrata0,DXW_ex,DX_Q_hsty,DX1_dg,DX1_pt,DX2_dg,DX2_1,DX2_1_1,DX_Q_ht,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,A371970301,517.0,3.0,2.0,2.0,8.0,2.0,8888.0,,174.1,...,12829.777540,22.163133,21164.23142,55837.81076,77002.04219,27.485286,22192.30713,60684.06197,82876.36909,26.777605
1,A371970302,517.0,3.0,2.0,2.0,8.0,2.0,8888.0,,153.0,...,8788.658829,31.286455,20843.43828,33945.05830,54788.49658,38.043457,21658.90655,37827.44393,59486.35048,36.409876
2,A371971101,517.0,3.0,2.0,2.0,8.0,2.0,8888.0,,159.4,...,9253.197667,31.746817,20385.83355,36897.03439,57282.86794,35.588011,21225.41042,40768.43113,61993.84156,34.237934
3,A371971102,517.0,3.0,2.0,8.0,8.0,8.0,8888.0,,NaN,...,10811.093360,31.050519,25728.54252,41154.16988,66882.71241,38.468151,26697.99308,45358.51373,72056.50681,37.051467
4,A371971103,517.0,3.0,2.0,8.0,8.0,8.0,8888.0,,NaN,...,13444.232390,24.588840,24994.54587,52593.66240,77588.20827,32.214361,25984.47595,57013.39307,82997.86902,31.307401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2752,O359840901,531.0,3.0,2.0,2.0,8.0,2.0,8888.0,,159.0,...,8557.627548,32.466055,16812.84099,31276.40752,48089.24851,34.961746,17517.34159,34366.15804,51883.49963,33.762837
2753,O359859801,531.0,3.0,2.0,2.0,8.0,2.0,8888.0,,NaN,...,10662.509590,14.518038,11891.41417,50537.32061,62428.73478,19.047982,12845.82847,54632.52653,67478.35501,19.036962
2754,O359859802,531.0,3.0,1.0,2.0,8.0,2.0,8888.0,,NaN,...,10484.810330,37.134370,24210.57884,38298.27663,62508.85547,38.731438,24950.32242,41723.03459,66673.35701,37.421728
2755,O359920901,531.0,3.0,2.0,2.0,8.0,2.0,8888.0,,178.0,...,10747.840540,20.653609,15916.00295,49112.16685,65028.16980,24.475551,16825.74191,53243.75483,70069.49674,24.012934
2756,O359920902,531.0,3.0,2.0,2.0,8.0,2.0,8888.0,,NaN,...,8558.304662,36.416440,16735.95417,32575.18957,49311.14375,33.939497,17566.68608,36113.95943,53680.64552,32.724432

In [13]:
hn_all

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,N_FE,N_NA,N_K,N_VA,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,8.825176,8002.411162,2242.179502,1216.737164,6798.685230,80.923861,0.587216,0.958370,13.362491,66.538184
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,10.669418,9865.371865,3175.484695,991.444343,5309.758626,66.330626,1.091572,1.048872,16.120985,155.802767
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,8.145767,5523.886993,2585.378930,312.456977,1521.949727,60.720628,1.696853,1.036766,13.871697,173.101467
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,12.324093,8050.222425,3573.831439,976.437498,4731.029354,70.624607,1.556421,1.446812,23.255665,72.189116
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,6.981168,4405.030628,2311.937325,195.385714,1082.752182,9.833507,1.560520,0.988139,16.482503,60.757726
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,14.232663,5567.582392,4186.800211,641.230850,3597.652072,9.170003,1.622668,0.978828,15.204804,213.141951
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,93.932927,1995.408988,4030.121092,528.813543,2784.146069,5.041667,1.279894,1.009646,12.572358,139.296713
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,17.672424,9622.897760,4368.687935,1741.791503,9822.829846,60.408778,1.314018,1.371018,21.406326,208.098149
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,18.777697,3389.049835,5513.254579,2078.842197,11888.879149,32.799126,1.263063,1.356339,16.660732,257.012109
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,22.351231,4740.785973,4862.557091,1324.831344,7473.907729,17.899415,1.857340,1.548382,19.475568,119.350621

In [14]:
merged_df = hn_all.merge(dxa, on='ID', how='outer')

In [15]:
merged_df

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
ent = pd.read_spss('hn11_ent.sav')

In [17]:
ent

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,T_HRm_rt,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB
0,2019.03.06.,A348963501,A3489635,2011.0,1.0,1.0,1.0,A348,2.0,56.0,...,22.50,15.0,20.0,25.0,35.0,30.0,35.0,23.75,0.0,0.0
1,2019.03.06.,A348964302,A3489643,2011.0,1.0,1.0,1.0,A348,2.0,70.0,...,36.25,25.0,25.0,40.0,55.0,65.0,65.0,36.25,0.0,0.0
2,2019.03.06.,A348964701,A3489647,2011.0,1.0,1.0,1.0,A348,1.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019.03.06.,A348964702,A3489647,2011.0,1.0,1.0,1.0,A348,2.0,42.0,...,13.75,10.0,0.0,10.0,25.0,25.0,25.0,11.25,0.0,0.0
4,2019.03.06.,A348964703,A3489647,2011.0,1.0,1.0,1.0,A348,1.0,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7882,2019.03.06.,P351978101,P3519781,2011.0,16.0,1.0,2.0,P351,1.0,66.0,...,28.75,20.0,15.0,30.0,40.0,45.0,55.0,26.25,0.0,0.0
7883,2019.03.06.,P351978102,P3519781,2011.0,16.0,1.0,2.0,P351,2.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7884,2019.03.06.,P351979701,P3519797,2011.0,16.0,1.0,2.0,P351,1.0,57.0,...,5.00,5.0,15.0,10.0,20.0,25.0,80.0,12.50,0.0,0.0
7885,2019.03.06.,P351979702,P3519797,2011.0,16.0,1.0,2.0,P351,2.0,57.0,...,7.50,-10.0,-5.0,0.0,0.0,0.0,-5.0,-3.75,0.0,0.0
7886,2019.03.06.,P351980701,P3519807,2011.0,16.0,1.0,2.0,P351,2.0,48.0,...,20.00,30.0,15.0,15.0,20.0,20.0,40.0,20.00,0.0,0.0

In [18]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(ent.columns)

# Print the overlapping columns
print(overlapping_columns)

{'incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'wt_hs', 'kstrata', 'incm5', 'ho_incm', 'town_t', 'wt_pfhmnt', 'occp', 'wt_hm', 'age_month', 'wt_itvex', 'wt_ex1pfnt', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'edu', 'wt_pfhm', 'kstrata0', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age', 'ID', 'wt_hmnt', 'wt_ex1', 'wt_ntr', 'year', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam'}

In [19]:
list1 = ['incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'wt_hs', 'kstrata', 'incm5', 'ho_incm', 'town_t', 'wt_pfhmnt', 'occp', 'wt_hm', 'age_month', 'wt_itvex', 'wt_ex1pfnt', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'edu', 'wt_pfhm', 'kstrata0', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age', 'ID', 'wt_hmnt', 'wt_ex1', 'wt_ntr', 'year', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam']
len(list1)

37

In [20]:
ent = ent.drop(['incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'wt_hs', 'kstrata', 'incm5', 'ho_incm', 'town_t', 'wt_pfhmnt', 'occp', 'wt_hm', 'age_month', 'wt_itvex', 'wt_ex1pfnt', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'edu', 'wt_pfhm', 'kstrata0', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age', 'wt_hmnt', 'wt_ex1', 'wt_ntr', 'year', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam'], axis=1)

In [21]:
ent

,ID,T_ex,T_Q_ardg,T_Q_arpt,T_Q_DZ,T_Q_DZ1,T_Q_DZ2,T_Q_VC,T_Q_VC1,T_Q_HR,...,T_HRm_rt,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB
0,A348963501,1.0,2.0,8.0,2.0,8.0,8.0,2.0,8.0,1.0,...,22.50,15.0,20.0,25.0,35.0,30.0,35.0,23.75,0.0,0.0
1,A348964302,1.0,2.0,8.0,2.0,8.0,8.0,2.0,8.0,1.0,...,36.25,25.0,25.0,40.0,55.0,65.0,65.0,36.25,0.0,0.0
2,A348964701,1.0,2.0,8.0,2.0,8.0,8.0,2.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A348964702,1.0,2.0,8.0,1.0,2.0,2.0,2.0,8.0,1.0,...,13.75,10.0,0.0,10.0,25.0,25.0,25.0,11.25,0.0,0.0
4,A348964703,1.0,2.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7882,P351978101,1.0,2.0,8.0,2.0,8.0,8.0,2.0,8.0,1.0,...,28.75,20.0,15.0,30.0,40.0,45.0,55.0,26.25,0.0,0.0
7883,P351978102,1.0,2.0,8.0,1.0,2.0,2.0,2.0,8.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7884,P351979701,1.0,1.0,2.0,1.0,1.0,2.0,1.0,1.0,1.0,...,5.00,5.0,15.0,10.0,20.0,25.0,80.0,12.50,0.0,0.0
7885,P351979702,1.0,2.0,8.0,2.0,8.0,8.0,2.0,8.0,1.0,...,7.50,-10.0,-5.0,0.0,0.0,0.0,-5.0,-3.75,0.0,0.0
7886,P351980701,1.0,2.0,8.0,2.0,8.0,8.0,2.0,8.0,1.0,...,20.00,30.0,15.0,15.0,20.0,20.0,40.0,20.00,0.0,0.0

In [22]:
merged_df

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,DW_Rlg_MS,DW_Rlg_pFT,DW_SBT_FT,DW_SBT_LN,DW_SBT_MS,DW_SBT_pFT,DW_WBT_FT,DW_WBT_LN,DW_WBT_MS,DW_WBT_pFT
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
merged_df = merged_df.merge(ent, on='ID', how='outer')

In [25]:
merged_df

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,T_HRm_rt,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,22.50,15.0,20.0,25.0,35.0,30.0,35.0,23.75,0.0,0.0
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,36.25,25.0,25.0,40.0,55.0,65.0,65.0,36.25,0.0,0.0
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,13.75,10.0,0.0,10.0,25.0,25.0,25.0,11.25,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,28.75,20.0,15.0,30.0,40.0,45.0,55.0,26.25,0.0,0.0
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,5.00,5.0,15.0,10.0,20.0,25.0,80.0,12.50,0.0,0.0
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,7.50,-10.0,-5.0,0.0,0.0,0.0,-5.0,-3.75,0.0,0.0
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,20.00,30.0,15.0,15.0,20.0,20.0,40.0,20.00,0.0,0.0

In [26]:
eye = pd.read_spss('hn11_eye.sav')

In [27]:
eye

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,2019.03.06.,A348963501,A3489635,2011.0,1.0,1.0,1.0,A348,2.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2019.03.06.,A348964302,A3489643,2011.0,1.0,1.0,1.0,A348,2.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2019.03.06.,A348964701,A3489647,2011.0,1.0,1.0,1.0,A348,1.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2019.03.06.,A348964702,A3489647,2011.0,1.0,1.0,1.0,A348,2.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2019.03.06.,A348964703,A3489647,2011.0,1.0,1.0,1.0,A348,1.0,7.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7786,2019.03.06.,P351978101,P3519781,2011.0,16.0,1.0,2.0,P351,1.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7787,2019.03.06.,P351978102,P3519781,2011.0,16.0,1.0,2.0,P351,2.0,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7788,2019.03.06.,P351979701,P3519797,2011.0,16.0,1.0,2.0,P351,1.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7789,2019.03.06.,P351979702,P3519797,2011.0,16.0,1.0,2.0,P351,2.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7790,2019.03.06.,P351980701,P3519807,2011.0,16.0,1.0,2.0,P351,2.0,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(eye.columns)

# Print the overlapping columns
print(overlapping_columns)

{'incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'wt_hs', 'kstrata', 'incm5', 'ho_incm', 'town_t', 'wt_pfhmnt', 'occp', 'wt_hm', 'age_month', 'wt_itvex', 'wt_ex1pfnt', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'edu', 'wt_pfhm', 'kstrata0', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age', 'ID', 'wt_hmnt', 'wt_ex1', 'wt_ntr', 'year', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam'}

In [29]:
list1 = ['incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'wt_hs', 'kstrata', 'incm5', 'ho_incm', 'town_t', 'wt_pfhmnt', 'occp', 'wt_hm', 'age_month', 'wt_itvex', 'wt_ex1pfnt', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'edu', 'wt_pfhm', 'kstrata0', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age', 'ID', 'wt_hmnt', 'wt_ex1', 'wt_ntr', 'year', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam']

In [30]:
len(list1)

37

In [31]:
eye = eye.drop(['incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'wt_hs', 'kstrata', 'incm5', 'ho_incm', 'town_t', 'wt_pfhmnt', 'occp', 'wt_hm', 'age_month', 'wt_itvex', 'wt_ex1pfnt', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'edu', 'wt_pfhm', 'kstrata0', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age','wt_hmnt', 'wt_ex1', 'wt_ntr', 'year', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam'], axis=1)

In [32]:
eye

,ID,E_ex,E_Q_EX,E_Q_SUN,E_Q_FAM,E_Q_FAM1,E_Q_RM,E_Q_EXC,E_Q_EXC1,E_BL_V,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,A348963501,1.0,3.0,1.0,2.0,888888,4.0,8.0,888888,89.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A348964302,1.0,3.0,1.0,1.0,6,4.0,8.0,888888,89.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A348964701,1.0,3.0,2.0,2.0,888888,4.0,8.0,888888,112.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A348964702,1.0,5.0,1.0,1.0,2,3.0,8.0,888888,97.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A348964703,1.0,8.0,8.0,8.0,888888,8.0,2.0,888888,8888.0,...,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7786,P351978101,1.0,2.0,2.0,1.0,2,4.0,8.0,888888,126.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7787,P351978102,1.0,9.0,1.0,9.0,999999,9.0,8.0,888888,167.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7788,P351979701,1.0,1.0,2.0,2.0,888888,1.0,8.0,888888,85.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7789,P351979702,1.0,4.0,1.0,2.0,888888,4.0,8.0,888888,88.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7790,P351980701,1.0,3.0,1.0,2.0,888888,4.0,8.0,888888,81.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
merged_df

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,T_HRm_rt,T_HR500_lt,T_HR1000_lt,T_HR2000_lt,T_HR3000_lt,T_HR4000_lt,T_HR6000_lt,T_HRm_lt,T_HL1_41dB,T_HL2_41dB
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,22.50,15.0,20.0,25.0,35.0,30.0,35.0,23.75,0.0,0.0
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,36.25,25.0,25.0,40.0,55.0,65.0,65.0,36.25,0.0,0.0
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,13.75,10.0,0.0,10.0,25.0,25.0,25.0,11.25,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,28.75,20.0,15.0,30.0,40.0,45.0,55.0,26.25,0.0,0.0
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,5.00,5.0,15.0,10.0,20.0,25.0,80.0,12.50,0.0,0.0
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,7.50,-10.0,-5.0,0.0,0.0,0.0,-5.0,-3.75,0.0,0.0
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,20.00,30.0,15.0,15.0,20.0,20.0,40.0,20.00,0.0,0.0

In [34]:
merged_df = merged_df.merge(eye, on='ID', how='outer')

In [35]:
merged_df

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
ijmt = pd.read_spss('hn11_ijmt.sav')

In [37]:
ijmt

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,MP4_2_09,MP4_3_09,MP4_5_09,MP4_6_09,MP4_7_09,MP4_2_10,MP4_3_10,MP4_5_10,MP4_6_10,MP4_7_10
0,2019.03.06.,A348963501,A3489635,2011.0,1.0,1.0,1.0,A348,2.0,56.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
1,2019.03.06.,A348964302,A3489643,2011.0,1.0,1.0,1.0,A348,2.0,70.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
2,2019.03.06.,A348964701,A3489647,2011.0,1.0,1.0,1.0,A348,1.0,42.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
3,2019.03.06.,A348964702,A3489647,2011.0,1.0,1.0,1.0,A348,2.0,42.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
4,2019.03.06.,A348964703,A3489647,2011.0,1.0,1.0,1.0,A348,1.0,7.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8050,2019.03.06.,P351978101,P3519781,2011.0,16.0,1.0,2.0,P351,1.0,66.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8051,2019.03.06.,P351978102,P3519781,2011.0,16.0,1.0,2.0,P351,2.0,62.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8052,2019.03.06.,P351979701,P3519797,2011.0,16.0,1.0,2.0,P351,1.0,57.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8053,2019.03.06.,P351979702,P3519797,2011.0,16.0,1.0,2.0,P351,2.0,57.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8054,2019.03.06.,P351980701,P3519807,2011.0,16.0,1.0,2.0,P351,2.0,48.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,

In [38]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(ijmt.columns)

# Print the overlapping columns
print(overlapping_columns)

{'incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'kstrata', 'wt_hs', 'incm5', 'M_1_et', 'ho_incm', 'M_1_rs', 'town_t', 'wt_pfhmnt', 'occp', 'wt_hm', 'age_month', 'mt_nontrt', 'wt_ex1pfnt', 'wt_itvex', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'edu', 'M_1_yr', 'wt_pfhm', 'kstrata0', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age', 'ID', 'wt_ex1', 'year', 'wt_ntr', 'wt_hmnt', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam'}

In [39]:
list1 = ['incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'kstrata', 'wt_hs', 'incm5', 'M_1_et', 'ho_incm', 'M_1_rs', 'town_t', 'wt_pfhmnt', 'occp', 'wt_hm', 'age_month', 'mt_nontrt', 'wt_ex1pfnt', 'wt_itvex', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'edu', 'M_1_yr', 'wt_pfhm', 'kstrata0', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age', 'ID', 'wt_ex1', 'year', 'wt_ntr', 'wt_hmnt', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam']
len(list1)

41

In [40]:
ijmt = ijmt.drop(['incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'kstrata', 'wt_hs', 'incm5', 'M_1_et', 'ho_incm', 'M_1_rs', 'town_t', 'wt_pfhmnt', 'occp', 'wt_hm', 'age_month', 'mt_nontrt', 'wt_ex1pfnt', 'wt_itvex', 'wt_ex1hmnt', 'sex', 'wt_tot1', 'edu', 'M_1_yr', 'wt_pfhm', 'kstrata0', 'ho_incm5', 'psu', 'wt_ex1pf', 'apt_t', 'wt_pft', 'age','wt_ex1', 'year', 'wt_ntr', 'wt_hmnt', 'wt_ex1hm', 'wt_tot', 'wt_tot1nt', 'ID_fam' ], axis=1)

In [41]:
ijmt

,ID,AC1_yr,AC3,AC3_1_01,AC3_2_01,AC3_3_01,AC3_3e_01,AC8_1_01,AC8_1e_01,AC3_4_01,...,MP4_2_09,MP4_3_09,MP4_5_09,MP4_6_09,MP4_7_09,MP4_2_10,MP4_3_10,MP4_5_10,MP4_6_10,MP4_7_10
0,A348963501,2.0,88.0,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
1,A348964302,2.0,88.0,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
2,A348964701,2.0,88.0,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
3,A348964702,2.0,88.0,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
4,A348964703,2.0,88.0,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8050,P351978101,2.0,88.0,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8051,P351978102,2.0,88.0,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8052,P351979701,2.0,88.0,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8053,P351979702,2.0,88.0,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8054,P351980701,2.0,88.0,NaN,NaN,NaN,,NaN,,NaN,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,

In [42]:
merged_df

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,E_DL_5,E_DL_6,E_DL_7,E_DL_8,E_DL_9,E_DL_10,E_DL_11,E_DL_12,E_DL_13,E_DL_14
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
merged_df = merged_df.merge(ijmt, on='ID', how='outer')

In [45]:
merged_df

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,MP4_2_09,MP4_3_09,MP4_5_09,MP4_6_09,MP4_7_09,MP4_2_10,MP4_3_10,MP4_5_10,MP4_6_10,MP4_7_10
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,

In [46]:
OE = pd.read_spss('hn11_OE.sav')

In [47]:
OE

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,O_TN75,O_PROS_U,O_PROS_L,O_IMP_U,O_IMP_L,O_BR_N_U,O_BR_N_L,O_DENT_U,O_DENT_L,O_F
0,2019.03.06.,A348963501,A3489635,2011.0,1.0,1.0,1.0,A348,2.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,2019.03.06.,A348964302,A3489643,2011.0,1.0,1.0,1.0,A348,2.0,70.0,...,0.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,2019.03.06.,A348964701,A3489647,2011.0,1.0,1.0,1.0,A348,1.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,2019.03.06.,A348964702,A3489647,2011.0,1.0,1.0,1.0,A348,2.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,2019.03.06.,A348964703,A3489647,2011.0,1.0,1.0,1.0,A348,1.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8050,2019.03.06.,P351978101,P3519781,2011.0,16.0,1.0,2.0,P351,1.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
8051,2019.03.06.,P351978102,P3519781,2011.0,16.0,1.0,2.0,P351,2.0,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
8052,2019.03.06.,P351979701,P3519797,2011.0,16.0,1.0,2.0,P351,1.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
8053,2019.03.06.,P351979702,P3519797,2011.0,16.0,1.0,2.0,P351,2.0,57.0,...,0.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
8054,2019.03.06.,P351980701,P3519807,2011.0,16.0,1.0,2.0,P351,2.0,48.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [48]:
# Check for overlapping columns
overlapping_columns = set(merged_df.columns) & set(OE.columns)

# Print the overlapping columns
print(overlapping_columns)

{'incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'kstrata', 'wt_hs', 'incm5', 'O_IMP_U', 'ho_incm', 'town_t', 'O_DMFIP', 'wt_pfhmnt', 'occp', 'O_PROS_L', 'O_TMJ', 'wt_hm', 'O_pain', 'age_month', 'wt_ex1pfnt', 'wt_itvex', 'wt_ex1hmnt', 'O_DENT_L', 'sex', 'O_DTP', 'wt_tot1', 'edu', 'O_DENT_U', 'O_DTD', 'wt_pfhm', 'O_DID', 'ho_incm5', 'kstrata0', 'psu', 'wt_ex1pf', 'apt_t', 'O_BR_N_L', 'O_F', 'O_IMP_L', 'wt_pft', 'age', 'O_DFTD', 'ID', 'wt_ex1', 'year', 'wt_ntr', 'wt_hmnt', 'O_PROS_U', 'wt_ex1hm', 'O_DFID', 'O_DIP', 'wt_tot', 'O_DMFTP', 'O_ortho', 'wt_tot1nt', 'ID_fam', 'O_BR_N_U'}

In [49]:
list1 = ['incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'kstrata', 'wt_hs', 'incm5', 'O_IMP_U', 'ho_incm', 'town_t', 'O_DMFIP', 'wt_pfhmnt', 'occp', 'O_PROS_L', 'O_TMJ', 'wt_hm', 'O_pain', 'age_month', 'wt_ex1pfnt', 'wt_itvex', 'wt_ex1hmnt', 'O_DENT_L', 'sex', 'O_DTP', 'wt_tot1', 'edu', 'O_DENT_U', 'O_DTD', 'wt_pfhm', 'O_DID', 'ho_incm5', 'kstrata0', 'psu', 'wt_ex1pf', 'apt_t', 'O_BR_N_L', 'O_F', 'O_IMP_L', 'wt_pft', 'age', 'O_DFTD', 'ID', 'wt_ex1', 'year', 'wt_ntr', 'wt_hmnt', 'O_PROS_U', 'wt_ex1hm', 'O_DFID', 'O_DIP', 'wt_tot', 'O_DMFTP', 'O_ortho', 'wt_tot1nt', 'ID_fam', 'O_BR_N_U']
len(list1)

57

In [50]:
OE = OE.drop(['incm', 'wt_ex1nt', 'wt_pfnt', 'region', 'mod_d', 'kstrata', 'wt_hs', 'incm5', 'O_IMP_U', 'ho_incm', 'town_t', 'O_DMFIP', 'wt_pfhmnt', 'occp', 'O_PROS_L', 'O_TMJ', 'wt_hm', 'O_pain', 'age_month', 'wt_ex1pfnt', 'wt_itvex', 'wt_ex1hmnt', 'O_DENT_L', 'sex', 'O_DTP', 'wt_tot1', 'edu', 'O_DENT_U', 'O_DTD', 'wt_pfhm', 'O_DID', 'ho_incm5', 'kstrata0', 'psu', 'wt_ex1pf', 'apt_t', 'O_BR_N_L', 'O_F', 'O_IMP_L', 'wt_pft', 'age', 'O_DFTD','wt_ex1', 'year', 'wt_ntr', 'wt_hmnt', 'O_PROS_U', 'wt_ex1hm', 'O_DFID', 'O_DIP', 'wt_tot', 'O_DMFTP', 'O_ortho', 'wt_tot1nt', 'ID_fam', 'O_BR_N_U'], axis=1)

In [51]:
OE

,ID,O_55B,O_55D,O_55O,O_55M,O_55L,O_54B,O_54D,O_54O,O_54M,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,A348963501,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A348964302,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,A348964701,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,A348964702,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,A348964703,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8050,P351978101,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8051,P351978102,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8052,P351979701,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8053,P351979702,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8054,P351980701,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [52]:
merged_df

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,MP4_2_09,MP4_3_09,MP4_5_09,MP4_6_09,MP4_7_09,MP4_2_10,MP4_3_10,MP4_5_10,MP4_6_10,MP4_7_10
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,

In [53]:
merged_df = merged_df.merge(OE, on='ID', how='outer')

In [54]:
merged_df

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
rc = pd.read_spss('hn11_24RC.sav')

In [56]:
rc

,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,age,...,NS_CODE,NS_MACH,NS_CA,NS_PHOS,NS_FE,NS_VA,NS_B1,NS_B2,NS_NIAC,NS_VITC
0,2019.03.06.,A348963501,A3489635,2011.0,1.0,1.0,1.0,A348,2.0,56.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019.03.06.,A348963501,A3489635,2011.0,1.0,1.0,1.0,A348,2.0,56.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019.03.06.,A348963501,A3489635,2011.0,1.0,1.0,1.0,A348,2.0,56.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019.03.06.,A348963501,A3489635,2011.0,1.0,1.0,1.0,A348,2.0,56.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019.03.06.,A348963501,A3489635,2011.0,1.0,1.0,1.0,A348,2.0,56.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451009,2019.03.06.,P351980701,P3519807,2011.0,16.0,1.0,2.0,P351,2.0,48.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451010,2019.03.06.,P351980701,P3519807,2011.0,16.0,1.0,2.0,P351,2.0,48.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451011,2019.03.06.,P351980701,P3519807,2011.0,16.0,1.0,2.0,P351,2.0,48.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451012,2019.03.06.,P351980701,P3519807,2011.0,16.0,1.0,2.0,P351,2.0,48.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
451013,2019.03.06.,P351980701,P3519807,2011.0,16.0,1.0,2.0,P351,2.0,48.0,...,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
merged_df

,mod_d,ID,year,ID_fam,region,town_t,apt_t,psu,sex,age,...,O_TN85,O_TN84,O_TN83,O_TN82,O_TN81,O_TN71,O_TN72,O_TN73,O_TN74,O_TN75
0,2022.03.08,A348963501,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022.03.08,A348963503,2011.0,A3489635,1.0,1.0,1.0,A348,2.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022.03.08,A348964302,2011.0,A3489643,1.0,1.0,1.0,A348,2.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2022.03.08,A348964701,2011.0,A3489647,1.0,1.0,1.0,A348,1.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2022.03.08,A348964702,2011.0,A3489647,1.0,1.0,1.0,A348,2.0,42.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8513,2022.03.08,P351978101,2011.0,P3519781,16.0,1.0,2.0,P351,1.0,66.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8514,2022.03.08,P351978102,2011.0,P3519781,16.0,1.0,2.0,P351,2.0,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8515,2022.03.08,P351979701,2011.0,P3519797,16.0,1.0,2.0,P351,1.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8516,2022.03.08,P351979702,2011.0,P3519797,16.0,1.0,2.0,P351,2.0,57.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8517,2022.03.08,P351980701,2011.0,P3519807,16.0,1.0,2.0,P351,2.0,48.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
merged_df.to_csv('2011_DATA.csv', index=False)

In [59]:
merged_df.to_excel('2011_DATA.xlsx', index=False)